::selection{background-color: none;
color:inherit;}

body{
  background-color: #000000;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}

@keyframes fading {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -1800px, 0);
    transform: translate3d(0, -1800px, 0);
  }
}

.animateFadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.fade {
  animation: fading 2s forwards;
}

.fadeSonic {
  animation: fading 2s backwards;
}

.modal {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(71, 71, 71);
  width: 600px;
  max-width: 600px;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
  color:#08c5ff;
  background-color: rgb(95, 95, 95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal p {
  opacity: 0.7;
  color:rgb(240, 128, 100);
  font-size: 17px;
}

.button {
  display: inline-flex;
  line-height: 40px;
  height: 50px;
  padding: 0;
  font-weight: 500;
  cursor: pointer;
  background: #1387cf;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-size: 20px;
  align-self: center;
  justify-content: center;
  margin: 5px auto 10px auto;
}

.cerrar {
  background-color: #01a566;
  border-radius: 5px;
  border-color:#eee;
  color:#eee;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  background: #0354ac;
}

.button:active {
  background: #01366e;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.4);
}

.button__text {
  font-size: 1.2em;
}

.teclado{
  width: 480px;
  height: 130px;
  background-color: #1b1b1b;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
  margin: 20px auto 10px auto;
}

.logo{
  width: 80px;
  height: 40px;
  background-color: rgb(20, 35, 255);
  color: #eee;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: -5px auto 10px auto;
  border-radius: 40px;
}

.titulo{
  width: 300px;
  height: 50px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-style: bold;
  font-family: Georgia, serif;
  font-size: 32px;
  text-align: center;
  justify-content: center;
  margin: 5px auto 10px auto;
  border-radius: 40px;
}

.tecla{
  width: 40px;
  height: 40px;
  background-color: #504f4f;
  border-color: #797979;
  color: aliceblue;
  text-align: left;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  padding-left: 8px;
  line-height: 10px;
  border-radius: 5px;
  float:none;
  margin-right: 3x;
  margin-bottom: 4px;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
}

.funcional{
  width: 84px; 
  background-color: #f14519;
  border-color: #eee;
}

.invi{
  width: 40px;
  visibility: hidden;
}

.tecla:hover{
  box-shadow: 0px 0px 10px #08c5ff;
  z-index: 1000;
}

/*08c5ff*/
#contenedor-matriz{
  display: flex;
  justify-content: center;
}

#matriz{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 2px;
  align-items: center;
  box-sizing: border-box;
}

.cuadrado{
  border: 2px solid #818181;
  width: 50px;
  height: 50px;
  font-size: 35px;
  color:#ffffff;
  background-color: black;
  text-align: center;
  align-content: center;
  font-family: Georgia, serif;
}